
.carousel-item {
    .carousel-caption {
        padding-bottom: 0;
    }
}

@mixin bd-bg-overlay($color, $opacity) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 0;
    background: none repeat $color;
    opacity: $opacity;
}

@mixin bd-relative-zindex {
    position: relative;
    z-index: 999;
}

.jumbotron {
    .photo-wrapper {
        position: relative;
        background: url('../../assets/hero/hero4.jpg') 65% 50% no-repeat;
        background-size: cover;

        &::after {
            @include bd-bg-overlay(rgb(0, 0, 0), .15);
        }

        .content-wrapper {
            text-align: center;
            @include bd-relative-zindex;
            height: calc(100vh - 75px);

            @media (max-width: 539.98px) {
                height: calc(90vh - 75px);
            }

            .company-wrapper {
                position: absolute;
                top: 0;
                bottom: 0;
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 100%;
                padding: 0;
                text-align: center;
                background: 0 0;
                border: 0;
                flex-direction: column;
                padding-bottom: 1.25rem;
            }
        }
    }
}
