.card-introduction {
    height: 100%;
    width: 100%;
    border: none;
    box-shadow: none;
    margin-bottom: 15px;
    background-color: #fff;
    // background-color: #f6f8fa;
    // box-shadow: 1px 2px 6px rgb(0 0 0 / 4%);
    // border-radius: 8px;

    .lazy-load-image-background {
        display: contents !important;
    }

    .card-background {
        // height: 170px;
        // height: 600px;
        height: 35vh;
        // object-fit: cover;
        object-fit: cover;
        object-position: center;
    }

    .card-background-color {
        height: 35vh;
        background-color: #e3e3e3;
    }

    .card-image {
        position: relative;
        display: block;
        // margin-left: 63.5px;
        // margin-left: 16px;
        margin-right: auto;
        z-index: 2;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 4px solid #fff;
        margin-top: -100px;
        background-color: darken(#f5f5f5, 4%);
        // height: 100%;
        // width: 100%;
    }

    .card-content {
        padding: 12px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;


        .card-name {
            margin: 0;
            font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
            font-weight: 400;
            font-size: 1.1rem;
            line-height: 1.5;
            letter-spacing: 0.00938em;
            text-align: left;
            margin-bottom: 0.35em;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .card-speciality {
            margin: 0;
            font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
            line-height: 1;
            letter-spacing: 0.00938em;
            text-align: left;
            font-size: 15px;
            font-weight: 300;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .card-text {
            margin: 0;
            font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
            line-height: 1.5;
            letter-spacing: 0.00938em;
            text-align: left;
            font-size: 13.5px;
            font-weight: 300;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


.photos-wrapper-d {
    ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        // grid-template-rows: repeat(12, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        border-radius: 10px;
        padding: 0;
        margin-top: 20px;

        li {
            list-style: none;

            img {
                object-fit: cover;
                object-position: center;
                // height: 200px;
            }

        //     &:nth-child(1) {
        //         grid-column: 1 / 3;
        //         grid-row: 1 / 3;

        //         img {
        //             height: 405px;
        //             border-top-left-radius: 10px;
        //         }
        //     }

        //     &:nth-child(2) {
        //         grid-column: 3 / 4;
        //         grid-row: 1 / 3;

        //         img {
        //             height: 405px;
        //         }
        //     }

        //     &:nth-child(3) {
        //         grid-column: 4 / 5;
        //         grid-row: 1 / 2;

        //         img {
        //             border-top-right-radius: 10px;
        //         }
        //     }

        //     &:nth-child(4) {
        //         grid-column: 4 / 5;
        //         grid-row: 2 / 3;
        //     }

        //     &:nth-child(5) {
        //         grid-column: 1 / 2;
        //         grid-row: 3 / 3;
        //     }

        //     &:nth-child(6) {
        //         grid-column: 1 / 2;
        //         grid-row: 4 / 5;
        //     }

        //     &:nth-child(7) {
        //         grid-column: 2 / 3;
        //         grid-row: 3 / 5;

        //         img {
        //             height: 405px;
        //         }
        //     }




        //     &:nth-child(8) {
        //         grid-column: 3 / 5;
        //         grid-row: 3 / 5;

        //         img {
        //             height: 405px;
        //         }
        //     }

        //     &:nth-child(9) {
        //         grid-column: 1 / 3;
        //         grid-row: 5 / 7;

        //         img {
        //             height: 405px;
        //         }
        //     }

        //     &:nth-child(10) {
        //         grid-column: 3 / 4;
        //         grid-row: 5 / 7;

        //         img {
        //             height: 405px;
        //         }
        //     }

        //     &:nth-child(11) {
        //         grid-column: 4 / 5;
        //         grid-row: 5 / 6;
        //     }

        //     &:nth-child(12) {
        //         grid-column: 4 / 5;
        //         grid-row: 6 / 7;
        //     }

        //     &:nth-child(13) {
        //         grid-column: 1 / 2;
        //         grid-row: 7 / 7;
        //     }

        //     &:nth-child(14) {
        //         grid-column: 1 / 2;
        //         grid-row: 8 / 9;
        //     }

        //     &:nth-child(15) {
        //         grid-column: 2 / 3;
        //         grid-row: 7 / 9;

        //         img {
        //             height: 405px;
        //         }
        //     }

        //     &:nth-child(16) {
        //         grid-column: 3 / 5;
        //         grid-row: 7 / 9;

        //         img {
        //             height: 405px;
        //         }
        //     }





        //     &:nth-child(17) {
        //         grid-column: 1 / 3;
        //         grid-row: 9 / 11;

        //         img {
        //             height: 405px;
        //         }
        //     }

        //     &:nth-child(18) {
        //         grid-column: 3 / 4;
        //         grid-row: 9 / 11;

        //         img {
        //             height: 405px;
        //         }
        //     }

        //     &:nth-child(19) {
        //         grid-column: 4 / 5;
        //         grid-row: 9 / 10;
        //     }

        //     &:nth-child(20) {
        //         grid-column: 4 / 5;
        //         grid-row: 10 / 11;
        //     }

        //     &:nth-child(21) {
        //         grid-column: 1 / 2;
        //         grid-row: 11 / 12;
        //     }

        //     &:nth-child(22) {
        //         grid-column: 1 / 2;
        //         grid-row: 12 / 13;

        //         img {
        //             border-bottom-left-radius: 10px;
        //         }
        //     }

        //     &:nth-child(23) {
        //         grid-column: 2 / 3;
        //         grid-row: 11 / 13;

        //         img {
        //             height: 405px;
        //         }
        //     }

        //     &:nth-child(24) {
        //         grid-column: 3 / 5;
        //         grid-row: 11 / 13;

        //         img {
        //             height: 405px;
        //             border-bottom-right-radius: 10px;
        //         }
        //     }
        }
    }
}

